/*Media Query For Mobile Devices*//import css-variables from @

@media (max-width: 380px)
    color: red !important
#products
    margin: 0
    justify-content: center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    


@media (min-width: 380px) and (max-width: 480px)

#shop-car
    position: absolute
    z-index: 1000
    width: 100%
    right: 0
    height: calc(100% - 3.5rem)
    visibility: hidden
    margin: 0

@media (max: 1280) 

footer





